<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841597732619-vppkpa47hlms7kp3rf2b29q5vk0evs1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841597732619-vppkpa47hlms7kp3rf2b29q5vk0evs1e</string>
	<key>API_KEY</key>
	<string>AIzaSyC6PzV5bXBr5VI-VBNk-akncf5jaqvLVsg</string>
	<key>GCM_SENDER_ID</key>
	<string>841597732619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unisep.posologuia</string>
	<key>PROJECT_ID</key>
	<string>posologuia</string>
	<key>STORAGE_BUCKET</key>
	<string>posologuia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841597732619:ios:e65fbca3e6e9534b8d040e</string>
</dict>
</plist>